{% extends 'base.html.twig' %}


{% block body %}
    {{ form_label(form.books) }}
    {{ form_errors(form.books) }}

    <ul>
        {% for bookField in form.books %}
            {{ dump(form.books) }}
            <li>
                {{ form_errors(bookField) }}
                {{ form_widget(bookField) }}
            </li>
        {% endfor %}
    </ul>

{% endblock %}