{% extends 'base.html.twig' %}

{% block body %}
    <h1>Loans list</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nom client</th>
            <th scope="col">Titre du livre emprunter</th>
            <th scope="col">Auteur</th>
            <th scope="col">Genre</th>
            <th scope="col">Date d'emprunt</th>

        </tr>
        </thead>
        <tbody>
        {% for loan in loans %}
        {{ dump(loan) }}
            <tr>
                <td><a href="{{ path('show_customer_loans', { 'id': loan.customer.id }) }}">{{ loan.customer.name}} {{ loan.customer.firstname}}</a></td>
                <td>{{ loan.name }} </td>
                <td>{{ loan.author }}</td>
                <td>{{ loan.gender }}</td>
                <td>{{ loan.loandate|date('Y-m-d') }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
