{% extends 'base.html.twig' %}

{% block body %}
    <h1>Loans list</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nom client</th>
            <th scope="col">Prénom Clients</th>
            <th scope="col">Titre du livre emprunter</th>
            <th scope="col">Auteur</th>
            <th scope="col">Genre</th>

        </tr>
        </thead>
        <tbody>
        {% for loan in loans %}
            {#{{ dump(loan) }}#}
            <tr>
                <td><a href="{{ path('show_customer_loans', { 'id': loan.id }) }}">{{ loan.customer.name }}</a></td>
                <td>{{ loan.customer.firstname }} </td>
                <td>{{ loan.name }}</td>
                <td>{{ loan.author }}</td>
                <td>{{ loan.gender }}</td>



                {#<td>{{ loan.loan_date }}</td>#}
                <td>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   {# <ul>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    #}


{% endblock %}
